<div class="clearfix"> </div>
  <div class="slide-text text-center">
    <h1>Каталог товаров</h1>
  </div>
  <!----//End-top-nav---->
  </div>
</div>

<div class="container">
<%= will_paginate @catalogs %>
<table class="table" style="width:1000px">
  <thead>
  <tr>
    <th>Номенклатура</th>
    <th style="text-align:right;">Количество</th>
    <th style="text-align:right;">Артикул</th>
  </tr>
  </thead>
  <tbody>
  <% @catalogs.each do |product| %>
      <tr>
        <td><%= product.odinassname %></td>
        <td style="text-align:left; width:100px;"><%= product.col %></td>
        <td style="text-align:center; width:100px;"><%= product.article %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @catalogs %>

</div>
<% if user_signed_in? %>
    <h3>Import a CSV File</h3>
    <%= form_tag import_catalogs_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
    <% end %>
<% end %>


