<div class="clearfix"> </div>
<div class="slide-text text-center">
  <h1>Метрион. Торговая компания.</h1>
  <span>Товары со всего света.</span>
  <a class="slide-btn" href="/catalogs">Каталог</a>
</div>
<!----//End-top-nav---->
</div>
</div>
<!----start-container---->

<!----start-feartures----->
<div id="fea" class="features">
    <div class="container">
        <div class="head text-center">
            <h3><span> </span> О нас</h3>
            <p>Компания Метрион объединила людей верящих что товары должны доставляться потребителю быстро и с минимальными издержками. Наша миссия - продажа товаров через интернет магазин с минимальными наценками. </p>
        </div>
        <!---- start-features-grids---->
        <div class="features-grids text-center">
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-star"> </i> </span>
                <h3><a>Качественно</a></h3>
                <p>Только качественные товары представлены в нашем ассортименте</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-thumbs-up"> </i> </span>
                <h3><a>Удобно</a></h3>
                <p>Товар с доставкой это всегда удобно. Вы экономите свои деньги и время.</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-tachometer"> </i> </span>
                <h3><a>Быстро</a></h3>
                <p>Наша служба доставки бьет рекорды по времени. Экономия времени клиента - один из важнейших наших приоритетов.</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-mobile"> </i> </span>
                <h3><a>Информативно</a></h3>
                <p>Прозрачная информация о товаре и времени доставки. Вам не придется волноваться.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---- //End-features-grids---->
    </div>
</div>
<!----//End-feartures----->
<!---- start-work---->
<div class="work">
    <div class="container">
        <div class="head text-center work-head">
            <h3><span> </span>Как это работает?</h3>
            <p>Мы верим в то, что шопинг в онлайн-магазинах должен быть выгодным, безопасным и увлекательным. Вот почему мы не только доставляем покупки, но и помогаем клиентам выбирать лучшие товары. К слову, с 2017 года мы снизили цены, и теперь стоимость доставки начинается от 1000 рублей при рекордных сроках — всего 5-7 дней. </p>
        </div>
        <!---- start-work-grids----->
        <div class="work-grids">
            <div class="col-md-4 work-grid">
                <span class="col-md-5 w-icon"> <i class="fa fa-check-square-o"> </i></span>
                <div class="col-md-7 work-info">
                    <h4>Выбор</h4>
                    <p>Вы выбираете товар по каталогу или через менеджера</p>
                </div>
            </div>
            <div class="col-md-4 work-grid center-work-grid">
                <span class="col-md-5 w-icon"> <i class="fa fa-retweet"> </i></span>
                <div class="col-md-7 work-info">
                    <h4>Сборка</h4>
                    <p>Мы соберем и бережно упакуем товар</p>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <span class="col-md-5 w-icon"><i class="fa fa-truck"> </i> </span>
                <div class="col-md-7 work-info">
                    <h4>Доставка</h4>
                    <p>Мы доставим вам его в кротчайшие сроки</p>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="work-map">
                <span> </span>
            </div>
        </div>
        <!---- //End-work-grids----->
    </div>
</div>
<!---- //End-work---->
<!----start-blog---->
<div id="blog" class="blog">
    <div class="container">
        <div class="head text-center">
            <h3><span> </span>Новости компании</h3>
        </div>
    </div>
    <!---- start-blog-time-line---->
    <div class="blog-time-line">
        <div class="col-md-6 blog-time-line-left">
        </div>
        <div class="col-md-6 blog-time-line-right">
            <% @news.each do |post| %>
            <div class="blog-post">
                <div class="col-md-2 blog-post-date">
                  <span><label><time class="published" datetime="2015-11-01"><%= post.created_at.strftime("%d/%m")%></time></label></span>
                </div>
                <div class="col-md-10 blog-post-info">
                    <span class="categorie">Категория : <a href="#">общее</a></span>
                    <h4 class="post-head"><%= link_to post.name, news_path(post.id) %></h4>
                    <p><%= post.body %></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <% end %>
            <div class="blog-post-time-line-connector">
                <span> </span>
            </div>
            <div class="more-blog-post-time-line-connector">
                <a href="#"><span>Далее</span></a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!---- //End-blog-time-line---->
</div>
<!----//End-blog---->
<!----start-test-monials---->
<div  id="test" class="testmonials">
    <div class="container">
        <div class="head text-center">
            <h3><span> </span> Наша команда</h3>
          <p>Наша команда – это позитивные, активные и успешные сотрудники. Каждый уникален и ценен, являясь незаменимым ресурсом в достижении целей компании. Развиваясь вместе, мы стремительно движемся к наилучшим результатам, умея громко праздновать победы и поощряя каждого сотрудника за вклад в общий успех.</p>
           <p>Мы любим жизнь, свою работу и наших клиентов. В этом главный успех команды Метрион. </p>
        </div>
        <!----start-testmonial-time-line---->
        <div class="test-monial-time-line">
            <div class="col-md-6 test-monial-time-line-left">
                <div class="test-monial-time-line-grid test-monial-time-line-grid-l1">
                    <div class="col-md-9 test-monial-time-line-left-text">
                        <p>Руководитель отдела продаж</p>
                    </div>
                    <div class="col-md-3 test-monial-time-line-left-pic">
                        <img src="<%= asset_path('pic1.jpg')%>" title="name" />
                        <a href="#">Ольга Жук</a>
                    </div>
                    <span class="grid-point"> </span>
                </div>
            </div>
            <div class="col-md-6 test-monial-time-line-right">
                <div class="test-monial-time-line-grid test-monial-time-line-grid-r1">
                    <div class="col-md-3 test-monial-time-line-left-pic">
                        <img src="<%= asset_path('pic2.png')%>" title="name" />
                        <a href="#">Михаил Аскетов</a>
                    </div>
                    <div class="col-md-9 test-monial-time-line-left-text">
                        <p>Консультант по развитию. Координатор проектов</p>
                    </div>
                    <span class="grid-point grid-point1"> </span>
                </div>
                <div class="test-monial-time-line-grid test-monial-time-line-grid-r2">
                    <div class="col-md-3 test-monial-time-line-left-pic">
                        <img src="<%= asset_path('pic3.png')%>" title="name" />
                        <a href="#">Игорь Костюк</a>
                    </div>
                    <div class="col-md-9 test-monial-time-line-left-text">
                        <p>Менеджер продаж.</p>
                    </div>
                    <span class="grid-point grid-point1"> </span>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="test-monial-timeline-connector">
                <span> </span>
            </div>
            <div class="clearfix"> </div>
            <a class="more-testmonial-time-line" href="#"> <span>Подробнее</span></a>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
<!----//End-testmonial-time-line---->
<!----start-contact---->
<div id="contact" class="contact">
    <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.9184116433235!2d60.5812913162972!3d56.83018898085518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTbCsDQ5JzQ4LjciTiA2MMKwMzUnMDAuNSJF!5e0!3m2!1sru!2sru!4v1504167866921" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contact-grids">
        <div class="col-md-6 contact-left">
            <h3><span> </span> Контакты</h3>
            <p><i class="fa fa-map-marker"> </i>620014, Екатеринбург, пер. Центральный рынок, 6, 209А </p>
          <p><i class="fa fa-phone"> </i>+7(909)702-02-25</p>
          <form>
                <input type="text" value="Имя " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                <input type="text" value="info@mail.com *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email@domain.com *';}">
                <textarea onfocus="if(this.value == 'Сообщение *') this.value='';" onblur="if(this.value == '') this.value='Message *;">Сообщение *</textarea>
                <p class="conditions"> <label><span>*</span>Обязательно заполните все поля</label></p>
                <span class="submit-btn"><input type="submit" value="Отправить"></span>
            </form>
        </div>
        <div class="col-md-6 contact-right">
            <span class="pin-map"> </span>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!----//End-contact---->

<!----//End-container---->

