<!DOCTYPE HTML>
<html>
<head>
  <%= stylesheet_link_tag    'package/application', media: 'all' %>

  <script type="text/javascript">
    var app = app || {config: {}, modules: {coreApplicationBase: {}, application: {}}};
  </script>
  <%= javascript_include_tag 'package/application' %>
  <script type="text/javascript">
  </script>
  <!---- start-smoth-scrolling---->

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>

  <!----webfonts---->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <!----//webfonts---->
  <!----start-top-nav-script---->
  <script>
      $(function() {
      });
  </script>
  <!----//End-top-nav-script---->
</head>
<body>
  <%= yield %>
</body>
<footer>

  <%= yield :javascript_bottom%>
</footer>
</html>