!!!
%html
  %head
    = stylesheet_link_tag 'package/application', media: 'all'

    :javascript
      var app = app || {config: {}, modules: {coreApplicationBase: {}, application: {}}};
    = csrf_meta_tags
  %body
    = yield

    = javascript_include_tag 'package/application'
    = yield :javascript_bottom
