<!DOCTYPE HTML>
<html>
<head>
  <%= stylesheet_link_tag    'package/application', media: 'all' %>

  <script type="text/javascript">
    var app = app || {config: {}, modules: {coreApplicationBase: {}, application: {}}};
  </script>
  <%= javascript_include_tag 'package/application' %>
  <script type="text/javascript">
  </script>
  <!---- start-smoth-scrolling---->

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>

  <!----webfonts---->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <!----//webfonts---->
  <!----start-top-nav-script---->
  <script>
      $(function() {
      });
  </script>
  <!----//End-top-nav-script---->
</head>
<body>
<!----start-header---->
<div id="home" class="header scroll">
  <div class="container">
    <!---- start-logo---->
    <div class="logo">
      <a href="index.html"><img src="<%= asset_path('logo.png')%>" title="Mabur" /></a>
    </div>
    <!---- //End-logo---->
    <!----start-top-nav---->
    <nav class="top-nav">
      <ul class="top-nav">
        <li class="active"><a href="#home" class="scroll">В начало</a></li>
        <li class="page-scroll"><a href="#fea" class="scroll">О нас</a></li>
        <!--<li class="page-scroll"><a href="#port" class="scroll">Portfolio</a></li>-->
        <li class="page-scroll"><a href="#blog" class="scroll">Новости</a></li>
        <li class="page-scroll"><a href="#test" class="scroll">Команда</a></li>
        <li class="contatct-active" class="page-scroll"><a href="#contact" class="scroll">Контакты</a></li>
      </ul>
      <a href="#" id="pull"><img src="<%= asset_path('nav-icon.png')%>" title="menu" /></a>
    </nav>
    <div class="clearfix"> </div>
    <div class="slide-text text-center">
      <h1>Метрион. Торговая компания.</h1>
      <span>Товары со всего света.</span>
      <a class="slide-btn" href="#">Каталог</a>
    </div>
    <!----//End-top-nav---->
  </div>
</div>
<!----//End-header---->
  <%= yield %>
</body>
<footer>
  <!----start-footer---->
  <div class="footer">
    <div class="container">
      <div class="footer-left">
        <a href="/admin">Админка (admin@example.com/password)</a>

      </div>
      <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
  </div>
  <!----//End-footer---->
  <%= yield :javascript_bottom%>
</footer>
</html>